Proyecto.Ventas.Pasaje.WPF/Web References/localhost/WebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52930/WebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Proyecto.Ventas.Pasaje.Datos" />
  <xs:element name="traerVentaEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="desde" type="xs:dateTime" />
        <xs:element minOccurs="0" name="hasta" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="traerVentaEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Proyecto.Ventas.Pasaje.Datos" minOccurs="0" name="traerVentaEmpleadoResult" nillable="true" type="q1:ArrayOfV_VENTA_EMPLEADO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>