Proyecto.Ventas.Pasaje.WPF/Web References/localhost/WebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Proyecto.Ventas.Pasaje.Datos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Proyecto.Ventas.Pasaje.Datos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfV_VENTA_EMPLEADO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V_VENTA_EMPLEADO" nillable="true" type="tns:V_VENTA_EMPLEADO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV_VENTA_EMPLEADO" nillable="true" type="tns:ArrayOfV_VENTA_EMPLEADO" />
  <xs:complexType name="V_VENTA_EMPLEADO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Empleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="MontoTotal" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V_VENTA_EMPLEADO" nillable="true" type="tns:V_VENTA_EMPLEADO" />
</xs:schema>